NODE_ENV=development
GOOGLE_DRIVE_FOLDER_ID=


//Resend
RESEND_API_KEY=
SENDER_NAME=

//Bkash
BKASH_BASE=
BKASH_USER_NAME=
BKASH_PASSWORD=
BKASH_API_KEY=
apBKASH_SECRET_KEY=

//Auth
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

//MongoDB
CREDENTIAL_ID=
MONGODB_URI=